*{
    box-sizing: border-box;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto 100px; */
}

img {
    height: 200px;
}

a:hover {
    background-color: #721EE3;
}

a {
    text-decoration: none;
}

nav {
    background-color: #A7DDFF;
}

body {
    margin: 0px;
    padding: 0px;
    /* min-height: 100vh; */
}
footer {
    position: static;
    /* height: 15px; */
    padding: 20px;
    /* width: 100%; */
    background-color: #A7DDFF;
    bottom: 0;
    /* left: 10px; */
}

tr:nth-child(even){
    background-color: lightgray;
}

main {
    padding: 10px;
}
